exec secrets.cfg
sv_hostname "Drift Zone Romania - Drifts - custom cars - tuning - simulator"
sets sv_projectName "Drift Zone Romania"
sets sv_projectDesc "Drift Zone Romania este un server de drift, cu masini custom, tuning si o experienta cat mai apropiata de realitate. Alatura-te comunitatii noastre pentru a te bucura de drifturi spectaculoase, masini personalizate si o atmosfera prietenoasa!"
sets tags "drift, zone, romania, custom, cars, tuning, simulator"
sets locale "root-AQ"
## You CAN edit the following:
sv_enforceGameBuild 3258 #mp2024_01	- Bottom Dollar Bounties
sv_maxclients 48
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey "none"
set resources_useSystemChat true
 load_server_icon "logo.png"
## These resources will start by default.
## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:9422893 group.admin #Claudiu.is.here
add_principal identifier.discord:1294169819310063616 group.admin #Claudiu.is.here
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableUi 0
sv_enforceGameBuild 2699

ensure oxmysql
ensure [files]
ensure [cars]
ensure [mapping]
